.lottery-card {
  border: 1px #000 solid;
  border-radius: 2px;
  box-shadow: #9e98f6 3px 3px 0px;

  padding: 30px 50px;

  .buy-ticket-button {
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 2px;
    box-shadow: #9e98f6 3px 3px 0px;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;
    margin: auto;

    color: #000;
    font-size: 1.3rem;

    transition: all 300ms;

    &:hover {
      cursor: pointer;
      box-shadow: #9e98f6 6px 6px 0px;
    }
  }
}
