.lottery-card {
  background-color: #fff;
  border: 1px #000 solid;
  border-radius: 2px;
  box-shadow: #9e98f6 4px 4px 0px;

  padding: 40px 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  & > h1,
  & > p {
    margin: 0;
    padding: 0;
  }
}
